/* Reset */
*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to left, grey, rgb(213, 216, 216));
}

/* Header */
header {
    background-color: #333;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    flex-wrap: wrap;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 20px;
    flex-wrap: wrap;
}

nav ul li a {
    color: white;
    text-decoration: none;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: lightblue;
}

/* Main content */
main {
    padding: 20px;
    flex: 1;
}

section h2 {
    margin-bottom: 10px;
}

section p {
    margin-bottom: 30px;
}

/* Grid section */
.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    margin: 20px 0;
}

.grid-item {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 10px 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    transition: transform 0.3s ease;
    overflow: hidden;
    border: 3px solid #ccc;
    padding: 20px;
    cursor: pointer;
    position: relative;
}

.grid-item:hover {
    transform: scale(1.2);
    z-index: 1;
}

.grid-item a {
    text-decoration: none;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.grid-item a:hover {
    color: midnightblue;
    font-weight: 600;
}

.grid-item img {
    width: 100%;
    height: auto;
    object-fit: cover;
    transition: opacity 0.3s ease;
}

/* Footer */
footer {
    font-weight: 700;
    color: #000;
    border: 1px solid #333;
    background-color: grey;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 16dvh;
    text-align: center;
}

/* Responsive Design */
@media (max-width: 768px) {
    header {
        flex-direction: column;
        align-items: flex-start;
    }

    nav ul {
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
    }
}

@media (max-width: 480px) {
    .grid-container {
        grid-template-columns: 1fr;
    }
}
